body {
    background: #f1f1f1;
    transition: .5s ease all;
    font-family: 'Montserrat', sans-serif;
    max-width: 992px;
    margin: 5% auto;
    &.dark {
        background: #000;
    }
}

h3 {
    padding: 20px;
    background-color: darkgray;
    border-radius: 5px;
    body.dark & {
        background-color: lightgray;
    }
}
#btnADD {
    background-color: lightgreen;
    width: 600px;
    margin: 20px auto;
    border-radius: 5px;
}

/* ----- ----- ----- ----- DIVS ----- ----- ----- ----- */
.bloque {
    text-align: center;
    width: 200px;
    padding: 20px;
    cursor: pointer;
    margin: 20px auto;
    background: green;

    body.dark & {
        background: greenyellow;
    }

}
.caja {
    text-align: center;
    border-radius: 5px;
    body.dark & {
        color: white;
    }
}


/* ----- ----- ----- ----- TABLE ----- ----- ----- ----- */
table {
    text-align: center;
    margin: 0 auto;
    color: black;
    body.dark & {
        color: white;
    }
}

td {
    padding: 20px;
    
}
.btnEditar {
    background-color: lightyellow;
    padding: 20px;
    border-radius: 5px;
    body.dark & {
        color: black;
    }
}

.btnBorrar {
    background-color: lightcoral;
    padding: 20px;
    border-radius: 5px;
    body.dark & {
        color: black;
    }
}


/* ----- ----- ----- ----- NAV ----- ----- ----- ----- */
nav {
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    transition: .5s ease all;
    box-shadow: #f1f1f1;

    body.dark & {
        background: darkgrey;
        box-shadow: #f1f1f1;
        a {
            color: lightgrey;
            &:hover {
                color: white;
            }
        }
    }
}


/* ----- ----- ----- ----- SWITCH ----- ----- ----- ----- */
.switch {

    background: grey;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    }
    &.active {
        background: orange;
        color: black;
        &::after {
            right: 0;
            left: unset;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }

}

/* ----- ----- ----- ----- ENLACES ----- ----- ----- ----- */
a:link {
    text-decoration: none;
    color: var(--ColorTexto);
    
    &:hover {
        color: white;
    }
}

a:active {
    color: var(--ColorTexto);
}

a:visited {
    color: var(--ColorTexto);
}

a:hover {
    color: var(--Hover);
}


/* ----- ----- ----- ----- FOOTER ----- ----- ----- ----- */
footer {
    text-align: center;
    margin-top: 2rem;
    color: #525252;
    body.dark &{
        color: white;
    }
}